%form.auth-form{"ng-submit": "login()"}
  .form-head
    Log In
  .form-body
    %flash-message
    .form-group
      %label.control-label{for: "email"}
        Enter your email
      %input.form-control{"ng-model": "user.email", placeholder: "Email", type: "email"}
    .form-group
      %label.control-label{for: "password"}
        Password
      %input.form-control{"ng-model": "user.password", placeholder: "Password", type: "password"}
    %input.btn.btn-primary{type: "submit", value: "Log in"}
    Don't have an Account?
    %a{"ui-sref": "register"} Sign Up