%button.btn.btn-danger.btn-xs.sign-out{"ng-click": "logout()"}
  %span.glyphicon.glyphicon-log-out
  Log Out
%div{"ng-repeat": "project in projects | orderBy: 'created_at'"}
  .todo
    .todo-head.container
      %div.col-md-1.todo-title.text-center
        %span.glyphicon.glyphicon-calendar
      %div{"ng-hide": "editSwitch"}
        %div.col-md-10.todo-title
          {{project.title}}
        %div.col-md-1.todo-control.text-center
          %span.glyphicon.glyphicon-pencil{"ng-click": "edit(this, roject.title)"}
          |
          %span.glyphicon.glyphicon-trash{"ng-click": "deleteProject(project.id)"}
      %div{"ng-show": "editSwitch"}
        %div.col-md-10.todo-title
          %input.form-control.edit-input{"ng-model": "title", type: "text"}
        %div.col-md-1.todo-control.text-center
          %span.glyphicon.glyphicon-ok{"ng-click": "updateProject(this, project.id)"}
%button.btn.btn-primary.add-list.center-block{"ng-click": "createProject()"}
  %span.glyphicon.glyphicon-plus
  Add TODO List