<form class='auth-form' ng-submit='register()'>
<div class='form-head'>
Sign up
</div>
<div class='form-body'>
<flash-message class='auth'></flash-message>
<div class='form-group'>
<label class='control-label' for='email'>
Enter your email
</label>
<input class='form-control' ng-model='user.email' placeholder='Email' required type='email'>
</div>
<div class='form-group'>
<label class='control-label' for='password'>
Password
</label>
<input class='form-control' ng-model='user.password' placeholder='Password' required type='password'>
</div>
<input class='btn btn-primary' type='submit' value='Sign up'>
Have an Account?
<a ui-sref='login'>Log In</a>
<a class='btn btn-block btn-social btn-facebook center-block' href='/users/auth/facebook'>
<span class='fa fa-facebook'></span>
Sign up with Facebook
</a>
</div>
</form>
