.auth-form {
  max-width: 500px;
  margin: 60px auto 0;
  background: white;
  border: 1px solid #000000;
  border-top: 0;
}

.form-head {
  background: -webkit-linear-gradient(top, #5587bf, #3863a0);
  color: white;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 2px 2px 2px 6px;
  font-size: 25px;
}

.form-body {
  padding: 10px;
  background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%,#cccccc 100%);
}