.todo-head {
  background: -webkit-linear-gradient(top, #5587bf, #3863a0);
  color: white;
  border: 1px solid #000000;
  font-size: 20px;
  width: 100%;
  padding: 6px 0px;
}

.todo {
  margin-top: 40px;
}

.todo-title, .todo-control {
  display: inline-block;
  padding: 0px;
  overflow-wrap: break-word;
}

.todo-control {
  color: rgba(255, 255, 255, .4);
  cursor: default;
}

.glyphicon-pencil, .glyphicon-trash, .glyphicon-ok {
  cursor: pointer;
  font-size: 15px;
  color: rgba(255, 255, 255, .4);
  &:hover {
    color: rgb(255, 255, 255);
  }
}

.glyphicon-ok {
  font-size: 20px;
}

.edit-input {
  height: 28px;
}